
.container {
    margin: 2px;
    font-size: 9px;
}
.axis path { stroke: #555; }
/* .grid line { stroke: #eee; } */
.main-line { 
    fill: none;
    stroke: steelblue; 
    stroke-width: 1;
    fill: steelblue;
    fill-opacity: 0.2;
}
.right-line {
    fill: none;
    stroke: #ff9900;
    stroke-width: 1;
    fill: #ff9900;
    fill-opacity: 0.2;
}
.moving-average-line {
    fill: none;
    stroke: #444;
    stroke-width: 1;
}
.open-line {
    stroke: #222;
    stroke-width: 1px;
}
.vertical {
    stroke: #aaa;
    stroke-width: 1px;
}
.close-line {
    stroke: #222;
    stroke-width: 1px;
}
.candlestick-cursor { 
    stroke-width: 2px;
    pointer-events: none;
}
.overlay { fill: none; pointer-events: all; }
.ohlc-text { 
    font-size: 7px;
    fill: #222;
    font-family: Arial;
    stroke:#FFF;
    stroke-width:0.3em;
    paint-order:stroke;
    stroke-linejoin:round
}
.axis-right text {
    fill: #ff9900;
}
.axis-left text {
    fill: steelblue;
}
.axis text {
    font-size: 9px;
}
.regression-line {
    stroke: red;
    stroke-width: 1.5px;
    fill: none;
}
.r2-text {
    font-size: 9px;
    fill: red;
}



